<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kasper.insight">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewCategoryActivity"></activity>
        <activity android:name=".InsightActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TransactionOverViewActivity"
            android:label="@string/title_activity_transaction_over_view"
            android:parentActivityName=".InsightActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kasper.insight.InsightActivity" />
        </activity>
        <activity
            android:name=".CSVReaderActivity"
            android:label="@string/title_activity_csvreader"
            android:parentActivityName=".InsightActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kasper.insight.InsightActivity" />
        </activity>
        <activity
            android:name=".ManageCategoriesActivity"
            android:label="@string/title_activity_manage_categories"
            android:parentActivityName=".InsightActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kasper.insight.InsightActivity" />
        </activity>
        <activity
            android:name=".ProcressTransactionsActivity"
            android:label="@string/title_activity_process_transactions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kasper.insight.InsightActivity" />
        </activity>
        <activity android:name=".CategoryViewActivity" />
    </application>

</manifest>